body {
  background-color: #EFDECD;
  text-align: center;
  font-family: 'Sofia Sans Condensed', sans-serif;
}
h1 {
  font-size: 110pt;
  margin-top: 80px;
}
h2 {
  font-size: 40pt;
  margin-top: 100px;
}
.Avatar {
  border: 5px solid #000000;
  border-radius: 50%;
  margin-top: 100px;
  max-width: 100%;
  height: 500px;
}
h3 {
  font-size: 20pt;
  margin-top: 100px;
}
p {
  font-size: 17pt;
  margin: 20px 90px 0px 90px;
}
#Last {
  font-size: 17pt;
  margin: 20px 90px 50px 90px;
}
#ABOUTME {
  font-size: 80pt;
  margin-top: 20px;
}
#Introduction {
  font-size: 35pt;
  margin-top: 50px;
}
#Intro {
  font-size: 17pt;
  margin: 50px 50px 0px 50px;
}
#IntroLast {
  font-size: 17pt;
  margin: 50px 50px 50px 50px;
}
#BLOG {
  font-size: 80pt;
  margin-top: 20px;
}
#Blog1 {
  font-size: 22pt;
  margin-top: 50px;
}
#CONTACTDETAILS {
  font-size: 80pt;
  margin-top: 20px;
}
#Contact {
  font-size: 21pt;
  margin-top: 50px;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav {
  background-color: burlywood;
  height: 80px;
  width: 100%;
}
nav ul {
  float: left;
  margin-left: 80px;
}
nav ul li {
  display: inline;
  line-height: 80px;
  margin: 5px;
}
nav ul li a {
  color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 3px;
}
a.active,a:hover {
  background: #9F8170;
  text-decoration: underline;
}
#Whatisthedifference {
  font-size: 50pt;
  margin: 50px 50px 0px 50px;
}
#Difference {
  font-size: 21px;
  margin: 30px 50px 0px 50px;
}
#DifferenceH {
  font-size: 30px;
  margin: 60px 50px 0px 50px;
}
#DifferenceFirst {
  font-size: 21px;
  margin: 90px 50px 0px 50px;
}
#DifferenceLast {
  font-size: 21px;
  margin: 30px 50px 50px 50px;
}
.CSSBOXMODEL {
  margin: 30px 50px 0px 50px;
  border: 3px solid #000000;
  width: 500px;
}
.Margin {
  margin: 30px 50px 0px 50px;
  border: 3px solid #000000;
}
.MarginC {
  margin: 30px auto 0px auto;
  display: block;
  width: 18%;
  border: 3px solid #000000;
}
.Border {
  margin: 30px 50px 0px 50px;
  border: 3px solid #000000;
  width: 600px;
}
.BorderC {
  margin: 30px auto 0px auto;
  display: block;
  width: 18%;
  border: 3px solid #000000;
}
.Padding {
  margin: 30px 50px 0px 50px;
  border: 3px solid #000000;
}
.PaddingC {
  margin: 30px auto 0px auto;
  display: block;
  width: 18%;
  border: 3px solid #000000;
}
#Tehoutaewa {
  font-size: 50pt;
  margin: 50px 50px 0px 50px;
}
#Ekore {
  font-size: 24pt;
  margin: 50px 50px 0px 50px;
}
#November {
  font-size: 18pt;
  margin: 50px 50px 0px 50px;
}
#Story {
  font-size: 16pt;
  margin: 50px 50px 0px 50px;
}
#StoryLast {
  font-size: 16pt;
  margin: 50px 50px 50px 50px;
}
#Identity {
  font-size: 50pt;
  margin: 50px 50px 0px 50px;
}
#Question {
  font-size: 22pt;
  margin: 60px 50px 0px 50px;
}
#Answer {
  font-size: 16pt;
  margin: 30px 50px 0px 50px;
}
#QuestionFirst {
  font-size: 22pt;
  margin: 90px 50px 0px 50px;
}
#AnswerLast {
  font-size: 16pt;
  margin: 30px 50px 50px 50px;
}
#Learning {
  font-size: 50pt;
  margin: 50px 50px 0px 50px;
}
#Questions {
  font-size: 22pt;
  margin: 60px 50px 0px 50px;
}
#Answers {
  font-size: 16pt;
  margin: 30px 50px 0px 50px;
}
#QuestionsFirst {
  font-size: 22pt;
  margin: 90px 50px 0px 50px;
}
#AnswersLast {
  font-size: 16pt;
  margin: 30px 50px 50px 50px;
}
#Positive {
  font-size: 16pt;
  margin-top: 5px;
  margin-left: 50px;
  margin-right: 50px;
}
.coding {
  margin: 30px 50px 0px 50px;
  border: 3px solid #000000;
  width: 800px;
}
.arraysobjects {
  margin: 30px 50px 0px 50px;
  border: 3px solid #000000;
  width: 800px;
}
.functions {
  margin: 30px auto 0px auto;
  border: 3px solid #000000;
  width: 400px;
  display: block;
}
@media (max-width: 480px) and (min-width: 0px) {
  h1 {
    font-size: 60pt;
    margin-top: 50px;
  }
  h2 {
    font-size: 22pt;
    margin-top: 70px;
  }
  .Avatar {
    border: 5px solid #000000;
    border-radius: 50%;
    margin-top: 100px;
    max-width: 100%;
    height: 250px;
  }
  h3 {
    font-size: 16pt;
    margin-top: 70px;
  }
  p {
    font-size: 13pt;
    margin: 20px 70px 0px 70px;
  }
  #Last {
    font-size: 13pt;
    margin: 20px 90px 50px 90px;
  }
  #ABOUTME {
    font-size: 40pt;
    margin-top: 20px;
  }
  #Introduction {
    font-size: 24pt;
    margin-top: 30px;
  }
  #Intro {
    font-size: 13pt;
    margin: 20px 20px 0px 20px;
  }
  #IntroLast {
    font-size: 13pt;
    margin: 20px 20px 50px 20px;
  }
  #BLOG {
    font-size: 40pt;
    margin-top: 20px;
  }
  #Blog1 {
    font-size: 17pt;
    margin-top: 50px;
  }
  #CONTACTDETAILS {
    font-size: 40pt;
    margin-top: 20px;
  }
  #Contact {
    font-size: 15pt;
    margin-top: 50px;
  }
  nav {
    background-color: burlywood;
    height: 70px;
    width: 100%;
  }
  nav ul {
    float: left;
    margin-left: 20px;
  }
  nav ul li {
    display: inline;
    line-height: 75px;
    margin: 0.05px;
  }
  nav ul li a {
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
  }
  #Whatisthedifference {
    font-size: 37pt;
    margin: 50px 35px 0px 35px;
  }
  #DifferenceFirst {
    font-size: 18px;
    margin: 40px 35px 0px 35px;
  }
  #Difference {
    font-size: 18px;
    margin: 20px 35px 0px 35px;
  }
  #DifferenceH {
    font-size: 23px;
    margin: 50px 35px 0px 35px;
  }
  #DifferenceLast {
    font-size: 18px;
    margin: 20px 35px 50px 35px;
  }
  .CSSBOXMODEL {
    margin: 30px 30px 0px 30px;
    border: 2px solid #000000;
    max-width: 70%;
  }
  .Margin {
    margin: 30px 30px 0px 30px;
    border: 2px solid #000000;
    max-width: 60%;
  }
  .MarginC {
    margin: 30px auto 0px auto;
    display: block;
    width: 50%;
    border: 2px solid #000000;
  }
  .Border {
    margin: 30px 30px 0px 30px;
    border: 2px solid #000000;
    max-width: 80%;
  }
  .BorderC {
    margin: 30px auto 0px auto;
    display: block;
    width: 50%;
    border: 2px solid #000000;
  }
  .Padding {
    margin: 30px 30px 0px 30px;
    border: 2px solid #000000;
    max-width: 60%;
  }
  .PaddingC {
    margin: 30px auto 0px auto;
    display: block;
    width: 50%;
    border: 2px solid #000000;
  }
  #Tehoutaewa {
    font-size: 45pt;
    margin: 50px 35px 0px 35px;
  }
  #Ekore {
    font-size: 19pt;
    margin: 50px 35px 0px 35px;
  }
  #November {
    font-size: 15pt;
    margin: 40px 35px 0px 35px;
  }
  #Story {
    font-size: 14pt;
    margin: 30px 35px 0px 35px;
  }
  #StoryLast {
    font-size: 14pt;
    margin: 30px 35px 50px 35px;
  }
  #Identity {
    font-size: 37pt;
    margin: 50px 35px 0px 35px;
  }
  #Question {
    font-size: 18pt;
    margin: 60px 35px 0px 35px;
  }
  #Answer {
    font-size: 14pt;
    margin: 30px 35px 0px 35px;
  }
  #QuestionFirst {
    font-size: 18pt;
    margin: 70px 35px 0px 35px;
  }
  #AnswerLast {
    font-size: 14pt;
    margin: 30px 35px 50px 35px;
  }
  #Learning {
    font-size: 37pt;
    margin: 50px 35px 0px 35px;
  }
  #Questions {
    font-size: 18pt;
    margin: 60px 35px 0px 35px;
  }
  #Answers {
    font-size: 14pt;
    margin: 30px 35px 0px 35px;
  }
  #QuestionsFirst {
    font-size: 18pt;
    margin: 70px 35px 0px 35px;
  }
  #AnswersLast {
    font-size: 14pt;
    margin: 30px 35px 50px 35px;
  }
  #Positive {
    font-size: 14pt;
    margin: 5px 20px 0px 20px;
  }
  .coding {
    margin: 30px 10px 0px 10px;
    border: 3px solid #000000;
    max-width: 90%;
  }
  .arraysobjects {
    margin: 30px 10px 0px 10px;
    border: 3px solid #000000;
    max-width: 90%;
  }
  .functions {
    margin: 30px auto 0px auto;
    border: 3px solid #000000;
    max-width: 70%;
    display: block;
  }
}
@media (max-width: 720px) and (min-width: 481px) {
  h1 {
    font-size: 80pt;
    margin-top: 50px;
  }
  h2 {
    font-size: 35pt;
    margin-top: 70px;
  }
  .Avatar {
    border: 5px solid #000000;
    border-radius: 50%;
    margin-top: 100px;
    max-width: 100%;
    height: 350px;
  }
  h3 {
    font-size: 20pt;
    margin-top: 70px;
  }
  p {
    font-size: 15pt;
    margin: 10px 50px 0px 50px;
  }
  #Last {
    font-size: 15pt;
    margin: 20px 80px 50px 80px;
  }
  #ABOUTME {
    font-size: 60pt;
    margin-top: 20px;
  }
  #Introduction {
    font-size: 29pt;
    margin-top: 50px;
  }
  #Intro {
    font-size: 15pt;
    margin: 15px 35px 0px 35px;
  }
  #IntroLast {
    font-size: 15pt;
    margin: 15px 35px 50px 35px;
  }
  #BLOG {
    font-size: 60pt;
    margin-top: 20px;
  }
  #Blog1 {
    font-size: 20pt;
    margin-top: 50px;
  }
  #CONTACTDETAILS {
    font-size: 60pt;
    margin-top: 20px;
  }
  #Contact {
    font-size: 18pt;
    margin-top: 50px;
  }
  nav {
    background-color: burlywood;
    height: 70px;
    width: 100%;
  }
  nav ul {
    float: left;
    margin-left: 60px;
  }
  nav ul li {
    display: inline;
    line-height: 70px;
    margin: 3px;
  }
  nav ul li a {
    color: white;
    font-size: 22px;
    padding: 10px;
    border-radius: 3px;
  }
  #Whatisthedifference {
    font-size: 35pt;
    margin: 50px 35px 0px 35px;
  }
  #DifferenceFirst {
    font-size: 20px;
    margin: 60px 35px 0px 35px;
  }
  #Difference {
    font-size: 20px;
    margin: 20px 35px 0px 35px;
  }
  #DifferenceH {
    font-size: 25px;
    margin: 50px 35px 0px 35px;
  }
  #DifferenceLast {
    font-size: 20px;
    margin: 20px 35px 50px 35px;
  }
  .CSSBOXMODEL {
    margin: 30px 30px 0px 30px;
    border: 2px solid #000000;
    max-width: 60%;
  }
  .Margin {
    margin: 30px 30px 0px 30px;
    border: 2px solid #000000;
    max-width: 60%;
  }
  .MarginC {
    margin: 30px auto 0px auto;
    display: block;
    width: 40%;
    border: 2px solid #000000;
  }
  .Border {
    margin: 30px 30px 0px 30px;
    border: 2px solid #000000;
    max-width: 80%;
  }
  .BorderC {
    margin: 30px auto 0px auto;
    display: block;
    width: 40%;
    border: 2px solid #000000;
  }
  .Padding {
    margin: 30px 30px 0px 30px;
    border: 2px solid #000000;
    max-width: 60%;
  }
  .PaddingC {
    margin: 30px auto 0px auto;
    display: block;
    width: 40%;
    border: 2px solid #000000;
  }
  #Tehoutaewa {
    font-size: 40pt;
    margin: 50px 35px 0px 35px;
  }
  #Ekore {
    font-size: 20pt;
    margin: 50px 40px 0px 40px;
  }
  #November {
    font-size: 16pt;
    margin: 40px 35px 0px 35px;
  }
  #Story {
    font-size: 15pt;
    margin: 30px 35px 0px 35px;
  }
  #StoryLast {
    font-size: 15pt;
    margin: 30px 35px 50px 35px;
  }
  #Identity {
    font-size: 40pt;
    margin: 50px 35px 0px 35px;
  }
  #Question {
    font-size: 18pt;
    margin: 60px 35px 0px 35px;
  }
  #Answer {
    font-size: 15pt;
    margin: 30px 35px 0px 35px;
  }
  #QuestionFirst {
    font-size: 18pt;
    margin: 60px 35px 0px 35px;
  }
  #AnswerLast {
    font-size: 15pt;
    margin: 30px 35px 50px 35px;
  }
  #Learning {
    font-size: 40pt;
    margin: 50px 35px 0px 35px;
  }
  #Questions {
    font-size: 18pt;
    margin: 60px 35px 0px 35px;
  }
  #Answers {
    font-size: 15pt;
    margin: 30px 35px 0px 35px;
  }
  #QuestionsFirst {
    font-size: 18pt;
    margin: 70px 35px 0px 35px;
  }
  #AnswersLast {
    font-size: 15pt;
    margin: 30px 35px 50px 35px;
  }
  #Positive {
    font-size: 15pt;
    margin: 5px 20px 0px 20px;
  }
  .coding {
    margin: 30px 10px 0px 10px;
    border: 3px solid #000000;
    max-width: 80%;
  }
  .arraysobjects {
    margin: 30px 10px 0px 10px;
    border: 3px solid #000000;
    max-width: 85%;
  }
  .functions {
    margin: 30px auto 0px auto;
    border: 3px solid #000000;
    max-width: 50%;
    display: block;
  }
}
@media (max-width: 1024px) and (min-width: 721px) {
  h1 {
    font-size: 120pt;
    margin-top: 50px;
  }
  h2 {
    font-size: 40pt;
    margin-top: 70px;
  }
  .Avatar {
    border: 8px solid #000000;
    border-radius: 50%;
    margin-top: 100px;
    max-width: 100%;
    height: 500px;
  }
  h3 {
    font-size: 22pt;
    margin-top: 70px;
  }
  p {
    font-size: 16pt;
    margin: 10px 50px 0px 50px;
  }
  #Last {
    font-size: 16pt;
    margin: 10px 50px 50px 50px;
  }
  #ABOUTME {
    font-size: 70pt;
    margin-top: 20px;
  }
  #Introduction {
    font-size: 35pt;
    margin-top: 50px;
  }
  #Intro {
    font-size: 17pt;
    margin: 30px 50px 0px 50px;
  }
  #IntroLast {
    font-size: 17pt;
    margin: 30px 50px 50px 50px;
  }
  #BLOG {
    font-size: 70pt;
    margin-top: 20px;
  }
  #Blog1 {
    font-size: 22pt;
    margin-top: 50px;
  }
  #CONTACTDETAILS {
    font-size: 70pt;
    margin-top: 20px;
  }
  #Contact {
    font-size: 21pt;
    margin-top: 50px;
  }
  nav {
    background-color: burlywood;
    height: 95px;
    width: 100%;
  }
  nav ul {
    float: left;
    margin-left: 65px;
  }
  nav ul li {
    display: inline;
    line-height: 95px;
    margin: 10px;
  }
  nav ul li a {
    color: white;
    font-size: 30px;
    padding: 5px;
    border-radius: 3px;
  }
  #Whatisthedifference {
    font-size: 40pt;
    margin: 50px 50px 0px 50px;
  }
  #DifferenceFirst {
    font-size: 22px;
    margin: 60px 50px 0px 50px;
  }
  #Difference {
    font-size: 22px;
    margin: 20px 50px 0px 50px;
  }
  #DifferenceH {
    font-size: 26px;
    margin: 50px 50px 0px 50px;
  }
  #DifferenceLast {
    font-size: 22px;
    margin: 20px 50px 50px 50px;
  }
  .CSSBOXMODEL {
    margin: 30px 50px 0px 50px;
    border: 2px solid #000000;
    max-width: 60%;
  }
  .Margin {
    margin: 30px 50px 0px 50px;
    border: 2px solid #000000;
    max-width: 50%;
  }
  .MarginC {
    margin: 30px auto 0px auto;
    display: block;
    width: 30%;
    border: 2px solid #000000;
  }
  .Border {
    margin: 30px 50px 0px 50px;
    border: 2px solid #000000;
    max-width: 70%;
  }
  .BorderC {
    margin: 30px auto 0px auto;
    display: block;
    width: 30%;
    border: 2px solid #000000;
  }
  .Padding {
    margin: 30px 50px 0px 50px;
    border: 2px solid #000000;
    max-width: 50%;
  }
  .PaddingC {
    margin: 30px auto 0px auto;
    display: block;
    width: 30%;
    border: 2px solid #000000;
  }
  #Tehoutaewa {
    font-size: 50pt;
    margin: 50px 50px 0px 50px;
  }
  #Ekore {
    font-size: 20pt;
    margin: 50px 50px 0px 50px;
  }
  #November {
    font-size: 17pt;
    margin: 40px 50px 0px 50px;
  }
  #Story {
    font-size: 16pt;
    margin: 30px 50px 0px 50px;
  }
  #StoryLast {
    font-size: 16pt;
    margin: 30px 50px 50px 50px;
  }
  #Identity {
    font-size: 40pt;
    margin: 50px 50px 0px 50px;
  }
  #Question {
    font-size: 19pt;
    margin: 60px 50px 0px 50px;
  }
  #Answer {
    font-size: 16pt;
    margin: 30px 50px 0px 50px;
  }
  #QuestionFirst {
    font-size: 19pt;
    margin: 60px 50px 0px 50px;
  }
  #AnswerLast {
    font-size: 16pt;
    margin: 30px 50px 50px 50px;
  }
  #Learning {
    font-size: 40pt;
    margin: 50px 50px 0px 50px;
  }
  #Questions {
    font-size: 19pt;
    margin: 60px 50px 0px 50px;
  }
  #Answers {
    font-size: 16pt;
    margin: 30px 50px 0px 50px;
  }
  #QuestionsFirst {
    font-size: 19pt;
    margin: 70px 50px 0px 50px;
  }
  #AnswersLast {
    font-size: 16pt;
    margin: 30px 50px 50px 50px;
  }
  #Positive {
    font-size: 16pt;
    margin: 5px 50px 0px 50px;
  }
}